body {
    display: grid;
    grid-template-columns: 20% 50% auto;
    grid-template-rows: auto;
    grid-template-areas: 
    '. home .';
}

#homeSection {
    grid-area: home;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'header'
    'createPost'
    'posts';
}

#createPostSection {
    grid-area: createPost;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'postInput'
    'submitPost';
}

#postContent {
    grid-area: postInput;
}

#submitPost {
    grid-area: submitPost;
}