<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wall</title>
    <script src="Main.js"></script>
</head>
<body>
    <div>
        <h1>PosterWall</h1>
        <h2></h2>
    </div>
    <div>
        <label>
            Username: <input type="text" name="username" id="username">
            <br>
            Date of birth: <input type="date" id="dateOfBirth">
            <br>
            <button id="loginButton" onclick="login()">Login</button>
        </label>
    </div>
</body>
</html>