<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wall</title>
    <script src="Main.js"></script>
    <link rel="stylesheet" href="Main.css">
</head>
<body>
    <header>
        <h1>PosterWall</h1>
    </header>
    <div>
        <h2 id="greetingUser">Loading...</h2>
    </div>

    <main id="add_post_container">
        <section id="add_post_section">
            <label for="post_content" class="sr-only">What's on your mind?</label>
            <br>
            <textarea id="post_content" placeholder="Share your thoughts..."></textarea>
            <br>
            <button id="add_new_post_btn" onclick="post_content()">Post it!</button>
        </section>
    </main>

    <main id="posts_container"></main>

    <footer>
        <p>&copy; 2025 PosterWall Project. All rights un-reserved.</p>
    </footer>
</body>
<script>
  window.onload = function() {
    wall_page_loaded()
  }
</script>
</html>